<form method="post">
    <label>Email:</label>
    <input type="email" name="username" class="form-control" />
    <label>Password:</label>
    <input type="password" name="password" class="form-control" />
    <button class="btn btn-success" >Entrar</button>
    <p style="color:red" >@ViewData["MENSAJE"]</p>
</form>